.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    flex: 0 1 29rem;
    height: 47rem;
    padding: 1rem;
  }
}
